*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.game-board{
    
    width: 100%;
    height: 100vh;
    border: 1px solid #333;
    border-radius: 5px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto ;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb,#e8f6ff);
}





.pipe{
    position: absolute;
    width: 80px;
    bottom: 0;
    animation: pipe-animation 1.5s infinite linear;
    
}


.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}


.jump{
    animation: jump 500ms infinite ease-out;

}

.cloud {
    width: 550px;
    position: absolute;
    animation: cloud-animation 20s infinite linear;

}



.botão{
    width:120px;
    background: green;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;


    

}



.counter {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
}


.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh; /* Utilizando viewport height para a altura do chão */
    
}


@keyframes pipe-animation{

from{
    right: -80px;

}


to{

    right: 100%;

}

}

@keyframes jump {


0% {
    bottom: 0;
}


40%{

    bottom: 180px;
}

50%{
    bottom:180px;

}

60%{
    bottom: 180px;
}

100%{
    bottom:0;
}

}

@keyframes cloud-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}


@keyframes run {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw); /* Movendo o dinossauro da esquerda para a direita */
    }
}